.section-top-image {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.top-formats {
    background: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.8)) ), url('../img/page-formats.jpg');
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8) ), url('../img/page-formats.jpg');
    background-repeat: no-repeat;
}

.top-menu {
    background: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.8)) ), url('../img/page-menu.jpg');
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8) ), url('../img/page-menu.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.top-about {
    background: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.8)) ), url('../img/page-about.jpg');
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8) ), url('../img/page-about.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.top-request {
    background: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.8)) ), url('../img/page-request.jpg');
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8) ), url('../img/page-request.jpg');
    background-position: 30% center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-top-image h1 {
    color: #fff;
    font-size: 50px;
    margin-top: 20px;
    text-align: center;
    line-height: 1.2em;
}

@media screen and (max-width: 425px) {
    .section-top-image h1 {
        font-size: 35px;
    }
}
