.section-instagram {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(#f5f5f5), color-stop(#ebebeb), color-stop(#e2e2e2), to(#d8d8d8));
    background-image: linear-gradient(to bottom, #ffffff, #f5f5f5, #ebebeb, #e2e2e2, #d8d8d8);
}

.instagram-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

    .insta-image {
        width: 300px;
        height: 300px;
        margin-right: 10px;
        margin-bottom: 10px;
        overflow: hidden;
    }

        .insta-image img {
            width: 100%;
        }

@media screen and (max-width: 1024px) {
    .insta-image {
        width: 280px;
        height: 280px;
    }
}

@media screen and (max-width: 425px) {
    .insta-image {
        margin-right: 0;
    }
}
