.section-hero {
    width: 100%;
    height: 100vh;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+41,d1d1d1+100 */
    background: #d1d1d1; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #ffffff 0%,#f1f1f1 41%,#d1d1d1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d1d1d1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    position: relative;
}

    .hero-logo-container {
        width: 50%;
        position: absolute;
        top: 70px;
        right: -25%;
        opacity: .3;
        z-index: 1;
    }

    .hero-text-container {
        width: 100%;
        height: 100vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    .hero-text {
        /* text-align: center; */
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
        position: relative;
        z-index: 2;
    }

    .hero-text h1 {
        font-size: 40px;
        font-weight: 500;
        line-height: 1.2em;
        margin-bottom: 20px;
        color: #46415f;
    }

    .hero-text p {
        font-size: 24px;
        line-height: 1.2em;
        margin-bottom: 30px;
        color: #343148;
    }

    .hero-text a {
        display: block;
        /* margin: 0 auto; */
        width: 50%;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        color: #fff;
        padding: 10px 5px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        background-color: #DF8600;
        border-radius: 5px;
        cursor: pointer;
        margin: 0 auto;
    }

    .hero-text a:hover {
        background-color: #615c79;
    }

    .scroll-icon {
        width: 40px;
        height: 40px;
        position: absolute;
        bottom: 60px;
        left: calc(50% - 20px);
    }

    @-webkit-keyframes scroll {
    	0% {
    		-webkit-transform: translateY(0);
    		        transform: translateY(0);
    	}
    	30% {
    		-webkit-transform: translateY(60px);
    		        transform: translateY(60px);
    	}
    }

    @keyframes scroll {
    	0% {
    		-webkit-transform: translateY(0);
    		        transform: translateY(0);
    	}
    	30% {
    		-webkit-transform: translateY(60px);
    		        transform: translateY(60px);
    	}
    }

    .scroll-icon #wheel {
        -webkit-animation: scroll ease 1.5s infinite;
                animation: scroll ease 1.5s infinite;
    }

@media screen and (max-width: 1366px) {
    .hero-logo-container {
        width: 70%;
        right: -35%;
    }
}

@media screen and (max-width: 1024px) {
    .hero-logo-container {
        width: 100%;
        top: 10vh;
        right: -50%;
    }
}

@media screen and (max-width: 768px) {
    .hero-logo-container {
        width: 100%;
        right: -50%;
        top: 15%;
    }
}

@media screen and (max-width: 425px) {
    .hero-logo-container {
        width: 120%;
        right: -60%;
        opacity: .2;
    }

    .hero-text-container {
        padding: 0 10px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }

    .hero-text {
        text-align: center;
    }

    .hero-text h1 {
        font-size: 32px;
        font-weight: 400;
    }

    .hero-text p {
        font-size: 22px;
    }

    .hero-text a {
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .hero-text h1 {
        font-size: 28px;
    }

    .hero-text p {
        font-size: 18px;
    }

    .hero-text a {
        width: 80%;
        margin: 0 auto;
    }
}
