.section-steps {
    background-color: #f3f3f3;
}

.steps-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

    .step-item {
        width: 320px;
        min-height: 210px;
        margin-right: 20px;
        border: 1px solid rgba(0,0,0,.1);
        border-radius: 10px;
        padding: 20px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        -webkit-box-shadow: 0px 0px 5px 1px rgba(224,224,224,1);
        box-shadow: 0px 0px 5px 1px rgba(224,224,224,1);
        text-align: center;
        background-color: #fff;
    }

    .step-item:hover {
        border: 1px solid rgba(0,0,0,.2);
    }

    .step-item:last-child {
        margin-right: 0;
    }

    .step-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-bottom: 20px;
    }

        .step-number {
            width: 40px;
            height: 40px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            border-radius: 50%;
            background-color: #46415f;
            color: #fff;
            font-weight: bold;
        }

        .step-title {
            margin-left: 10px;
            font-size: 25px;
            font-weight: 500;
            color: #343148;
        }

    .step-description {
        font-size: 18px;
        color: #46415f;
        line-height: 1.4em;
        margin-bottom: 20px;
    }

    .step-action a {
        display: block;
        width: 70%;
        border-radius: 5px;
        padding: 10px 20px;
        color: #fff;
        text-decoration: none;
        margin: 0 auto;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        font-size: 18px;
        background-color: #DF8600;
        -webkit-transition: linear .2s;
        transition: linear .2s;
    }

    .step-action a:hover {
        background-color: #46415f;
    }

    .step-item:nth-child(2) .step-description {
        margin-bottom: 45px;
    }

@media screen and (max-width: 1024px) {
    .step-item {
        width: 280px;
        margin-right: 10px;
    }

    .step-action a {
        width: auto;
    }
}

@media screen and (max-width: 768px) {
    .step-title {
        font-size: 20px;
    }

    .step-description {
        font-size: 16px;
    }

    .step-action a {
        /* width: 90%; */
        font-size: 14px;
    }

    .step-item:nth-child(2) .step-description {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 767px) {
    .steps-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .step-item {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .step-item:last-child {
        margin-bottom: 0;
    }

    .step-action a {
        width: 85%;
    }
}
