.section-request {
    background-image: linear-gradient(to right top, #343148, #3f3c58, #4b4769, #57527a, #635e8b);
}

.request-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 60px;
    border-radius: 5px;
}

    .form-text {
        width: calc(100% - 600px);
        /* height: 790px; */
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        /* padding: 0 60px; */
        position: relative;
        padding: 0 50px;
    }

        .form-text img {
            width: 100%;
            opacity: .6;
        }

    .request-form {
        width: 600px;
        padding: 20px;
        box-sizing: border-box;
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        background-color: #fff;
        border-radius: 5px;
        position: relative;
        z-index: 2;
    }

    .request-form fieldset {
        width: 100%;
        margin-bottom: 20px;
    }

    .request-form fieldset:last-child {
        /* text-align: center; */
        margin-bottom: 0;
        margin-top: 25px;
    }

    .request-form label {
        display: block;
        margin-bottom: 10px;
        font-size: 18px;
        padding: 5px;
        box-sizing: border-box;
        color: #343148;
    }

    .request-form input, .request-form select, .request-form textarea {
        width: 100%;
        background: none;
        outline: none;
        border: 1px solid rgba(0,0,0,.4);
        border-radius: 5px;
        padding: 10px;
        box-sizing: border-box;
        font-size: 16px;
        color: #343148;
        transition: linear .2s;
    }

    .request-form input:focus, .request-form select:focus, .request-form textarea:focus {
        border-color: #ffd390;
    }

    .request-form button {
        /* width: 100%; */
        padding: 10px 50px;
        margin: 0 auto;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border: 1px solid #ddd;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
        background-color: #DF8600;
        color: #fff;
        font-size: 18px;
        transition: linear .2s;
    }

    .request-form button:hover {
        background-color: #46415f;
    }

@media screen and (max-width: 1200px) {
    .request-form {
        width: 500px;
    }

    .form-text {
        width: calc(100% - 500px);
        padding: 0 40px;
    }
}

@media screen and (max-width: 768px) {
    .request-container {
        flex-direction: column;
        padding-bottom: 20px;
    }

    .request-form {
        width: calc(100% - 20px);
        margin: 0;
    }

    .form-text {
        width: 80%;
        padding: 40px 60px;
    }

    .form-text img {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 425px) {
    .request-container {
        border-radius: 0;

    }

    .form-text {
        width: 100%;
        padding: 40px 60px;
    }

    .request-form input, .request-form select, .request-form textarea {

    }

    .request-form label {
        font-size: 16px;
    }

    .request-form fieldset:last-child {
        text-align: center;
    }

    .request-page-inner {
        padding-left: 0;
        padding-right: 0;
    }
}
