.section-formats {
    background-color: #fff;
}

.formats-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

    .format-item {
        width: 320px;
        /* min-height: 500px; */
        margin-right: 20px;
        border: 1px solid rgba(0,0,0,.1);
        border-radius: 10px;
        padding: 30px 30px 20px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        -webkit-box-shadow: 0px 0px 5px 1px rgba(224,224,224,1);
        box-shadow: 0px 0px 5px 1px rgba(224,224,224,1);
        text-align: center;
    }

    .format-item:hover {
        border: 1px solid rgba(0,0,0,.2);
    }

    .format-item:last-child {
        margin-right: 0;
    }

    .format-title h4 {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px;
        color: #343148;
    }

    .format-price p {
        font-size: 24px;
        margin-bottom: 20px;
        color: #343148;
        font-weight: 300;
    }

    .format-description p {
        font-size: 16px;
        line-height: 1.4em;
        margin-bottom: 20px;
        color:#343148;
    }

    .format-image {
        width: 200px;
        height: 200px;
        margin: 0 auto 20px;
        border-radius: 50%;
        overflow: hidden;
    }

        .format-image img {
            width: 100%;

        }

    .format-order {
        text-align: center;
    }

        .format-order button {
            font-size: 18px;
            background-color: #8EAF0C;
            border-radius: 5px;
            padding: 10px 20px;
            color: #fff;
            cursor: pointer;
            outline: none;
            border: none;
            margin: 0 auto 20px;
        }

        .format-order button:hover {
            background-color: #46415f;
        }

    .format-menu {
        text-align: center;
    }

        .format-menu a {
            text-decoration: none;
            color: #46415f;
        }

        .format-menu a:hover {
            text-decoration: underline;
        }

@media screen and (max-width: 1024px) {
    .format-item {
        width: 280px;
        margin-right: 10px;
    }

        .format-image {
            width: 160px;
            height: 160px;
        }
}

@media screen and (max-width: 768px) {
    .format-item {
        padding: 20px;
    }

    .format-price p {
        font-size: 16px;
    }

    .format-order button {
        padding: 10px 12px;
    }
}

@media screen and (max-width: 767px) {
    .formats-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .format-item {
        width: 300px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .format-item:last-child {
        margin-bottom: 0;
    }

    .format-image {
        width: 200px;
        height: 200px;
    }

    .format-price p {
        font-size: 24px;
    }
}

@media screen and (max-width: 320px) {
    .format-item {
        width: 280px;
    }
}
