.section-breadcrumbs {
    margin-top: 40px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px;
}

    .breadcrumbs {
        font-size: 16px;
        color: #8EAF0C;
    }

    .breadcrumbs li {
        display: inline;
        padding-right: 5px;
    }

    .breadcrumbs li:before {
        content: "/";
        padding-right: 5px;
        color: #343148;
    }

    .breadcrumbs li:first-child::before {
        content: "";
        padding-right: 0;
    }

    .breadcrumbs li a {
        color: #343148;
        text-decoration: none;
    }

    .breadcrumbs li a:hover {
        text-decoration: underline;
    }
