section {
    width: 100%;
}

.section-inner {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 150px;
}

.section-title h2 {
    font-size: 42px;
    text-align: center;
    padding: 100px 0;
    color: #343148;
}

@media screen and (max-width: 1200px) {
    .section-inner {
        width: 100%;
        padding: 0 60px 150px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
}

@media screen and (max-width: 425px) {
    .section-inner {
        padding: 0 15px 70px;
    }

    .section-title h2 {
        font-size: 32px;
        padding: 70px 0;
    }
}

@media screen and (max-width: 375px) {
    .section-title h2 {
        padding: 60px 0;
    }
}
