nav {
    margin-left: 30px;
}

    .navigation-list li {
        display: inline-block;
        margin: 0 20px;
    }

    .navigation-list li a {
        font-family: "Roboto";
        /* text-transform: uppercase; */
        text-decoration: none;
        color: #343148;
        font-size: 16px;
        letter-spacing: 2px;
        position: relative;
    }

    .navigation-list li a::before {
        width: 0px;
        content: '';
        display: inline-block;
        position: absolute;
        bottom: 0px;
        height: 2px;
        opacity: 0;
        background-color: #343148;
        transition: all .3s;
        margin-left: auto;
        margin-right: auto;
        z-index: 10;
        transition: linear .2s;
    }

    .navigation-list li a:hover::before {
        width: 100%;
        bottom: -8px;
        opacity: 1;
    }

@media screen and (max-width: 1024px) {
    nav {
        display: none;
    }
}
