.menu-modal {
    display: none;
    height: calc(100vh - 60px);
    background-color: #fff;
    position: absolute;
    top: 60px;
    left: -100%;
    border-right: 1px solid #ddd;
    z-index: -10;
}
    .aside-menu-navigation {
        margin: 15px 0;
    }

        .aside-menu-navigation li {
            padding: 15px;
            box-sizing: border-box;
        }

        .aside-menu-navigation li a {
            text-decoration: none;
            color: #343148;
            font-size: 20px;
        }


@media screen and (max-width: 1024px) {
    .menu-modal {
        display: block;
        width: 400px;
    }
}

@media screen and (max-width: 425px) {
    .menu-modal {
        width: 100%;
    }

    .menu-logo {
        display: block;
    }
}
