/*
Background Color:       #f9f9f9;
Main Color:             #343148;
Sub Color:              #46415f;
Green:                  #79b515;

 */


body {
    min-height: 10000px;
    background-color: #f9f9f9;
    font-family: "Roboto";
}

main {
    padding-top: 70px;
}

.transition {
    -webkit-transition: all linear .2s;
    transition: all linear .2s;
}


@media screen and (max-width: 1024px) {
    main {
        padding-top: 60px;
    }
}
