.formats-container {
    margin-top: 100px;
}

.format-item {
    background-color: #fff;
    border-radius: 5px;
    /* width: 200px; */
    min-height: 460px;
    /* padding: 10px; */
    box-sizing: border-box;
}

.formats-title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #343148;
}

    .format-image {
        width: 100%;
        min-height: 250px;
        border-radius: 3px;
        overflow: hidden;

        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .format-name {
        /* text-align: center; */
        padding: 20px 10px 10px;
        font-size: 30px;
        font-weight: bold;
        color: #343148;
    }

        .format-name p {
            font-size: 22px;
            font-weight: normal;
            margin-top: 10px;
            color: #46415f;
        }

    .format-description {
        padding: 10px;
        box-sizing: border-box;
        color: #46415f;
    }

    .format-link {
        padding: 10px 0 20px 10px;
        font-size: 20px;
        cursor: pointer;
        color: #79b515;
        transition: linear .2s;
    }

    .format-link:hover {
        color: #46415f;
    }

@media screen and (max-width: 425px) {
    .formats-title {
        text-align: center;
    }
}


.formats-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

    .format-item {
        /* flex-grow: 1; */
        /* flex: 1 1 30%; */
        flex: 1 1 30%;
        margin-right: 20px;
        margin-bottom: 20px;
    }

@media screen and (max-width: 768px) {
    .format-item {
        flex: 1 1 40%;
    }
}

@media screen and (max-width: 767px) {
    .format-item {
        flex: 1 1 100%;
        margin-right: 0;
    }
}
