.section-page {
    width: 1000px;
    padding-top: 100px;
    margin: 0 auto;
}

.section-title {
    width: 300px;
}

.section-title h2 {
    font-size: 48px;
    color: #46415f;

}

    .section-title h2 span {
        color: #79b515;
    }


@media screen and (max-width: 1024px) {
    .section-page {
        width: 100%;
        padding: 100px 60px 0;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 767px) {
    .section-title {
        margin: 0 auto;
    }
}

@media screen and (max-width: 425px) {
    .section-page {
        padding: 60px 30px 0;
    }

    .section-title {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 320px) {
    .section-title h2 {
        font-size: 35px;

    }
}
